html body #fwKrayoncanvas .fwKrayonconsol{bottom:0px;vertical-align:middle;height:70px;}
html body #fwKrayoncanvas .fwKrayonconsol .part{border-bottom:none;border-radius:5px 5px 0 0;margin:0px 5px 0 5px;}
