html{position:relative !important;}
#ABBDslider input{width:80px;margin:0;}
.fwABBDcanvas{border:none;padding:none;position:absolute !important;top:0;left:0;z-index:20000;margin:0 !important;padding:0;box-sizing:content-box;}
.fwABBDcanvas div{margin:0;border:none;padding:0;}
.fwABBDconsol{position:fixed;min-width:600px !important;max-width:600px !important;width:600px;top:0;left:0;z-index:20003;overflow:hidden;margin:0 !important;}
.fwABBDcanvas #fwABBDwindowTemp{position:absolute;z-index:20002;left:0;}
.fwABBDcanvas #fwABBDwindow{position:relative;z-index:3;}
.fwABBDconsol .colorpicker{z-index:20004;}
.fwABBDconsol #colorpicker{width:44px;}
#ABBDbrush{position:fixed;width:150px;height:150px;top:70px;left:0px;z-index:1;}
iframe{z-index:0 !important;}
.fwABBDconsol .part{padding:5px;margin:0 5px 5px;padding:0 10px 10px;float:left;border:1px solid #000;border-top:none;background:#fff;box-sizing:content-box;}
.fwABBDconsol .close,
.fwABBDconsol .part{border-radius:0 0 5px 5px;}
.fwABBDconsol .close,
.fwABBDconsol .part{box-shadow:0px 0px 5px #888;-webkit-box-shadow:0px 0px 5px #888;}
.fwABBDconsol .part .legend{font-size:10px;background:#fff;font-family:Arial;}
.fwABBDconsol .p3 a:focus,
.fwABBDconsol .p3 a:hover{background:#f5f22b;}
.fwABBDconsol .p4 a{display:block;width:26px;height:25px;text-indent:-9999px;overflow:hidden;background:url(i/pencil.png) 0 0 no-repeat;}
.fwABBDconsol .p6 a{background:url(i/pencil.png) 0 0 no-repeat;}
.fwABBDconsol .p4 a#gomme{background-position:8px 5px;border-bottom:1px dotted #fff;}
.fwABBDconsol .p4 a.crayon{background-position:8px -25px;}
.fwABBDconsol .p4 a.feutre{background-position:-23px -27px;}
.fwABBDconsol .p4 a:hover,
.fwABBDconsol .p4 a:focus,
.fwABBDconsol .p4 a.active{background-color:#f5f22b;}
.fwABBDconsol .p5{width:52px;}
.fwABBDconsol .p5 span{float:left;width:26px;height:25px;text-indent:-9999px;overflow:hidden;background:url(i/pencil.png) 0 0 no-repeat;}
.fwABBDconsol .p5 span.active,
.fwABBDconsol .p5 span:hover,
.fwABBDconsol .p5 span:focus{background-color:#f5f22b;cursor:pointer;}
.fwABBDconsol .p5 span.drawtrait{background-position:5px -72px;}
.fwABBDconsol .p5 span.drawsquarempty{background-position:5px -50px;}
.fwABBDconsol .p5 span.drawsquare{background-position:-21px -70px;}
.fwABBDconsol .p5 span.drawcircle{background-position:-21px -50px;}
.fwABBDconsol .p6 #entertext{float:left;width:23px;height:11px;margin:7px 0 4px;background-position:-5px -101px;text-indent:-9999px;overflow:hidden;}
.fwABBDconsol .p6 a:hover,
.fwABBDconsol .p6 .active{background-color:#f5f22b;}
.fwABBDconsol .p6 span.hide{display:none;}
.fwABBDconsol .p6 span.active{background-color:#F5F22B;}
.fwABBDconsol .p6 span{float:left;margin:8px 4px 0 0;width:10px;height:9px;text-indent:-9999px;background:url(i/pencil.png) 0 0 no-repeat;cursor:pointer;}
.fwABBDconsol .p6 #abbdTimes{background-position:-3px -118px;}
.fwABBDconsol .p6 #abbdArial{background-position:-10px -118px;}
.fwABBDconsol .colorpicker{z-index:3;}
.fwABBDconsol .close{float:left;margin-top:0;border:1px solid #000;border-top:none;padding:0 10px 5px;color:#000;background:#fff;font-size:18px;text-decoration:none;font-weight:bold;}
.fwABBDconsol .close:hover{background-color:#f5f22b;}

#thisActive{border:2px dotted #000;}
#thisActive:focus{outline:20px solid rgba(255, 255, 0, 0.5);background-color:rgba(255,255,255,0.5);}

.crosshairstyle canvas{cursor:crosshair !important;}

/* Slider */
.fwABBDconsol #slider{position:relative;width:90px;height:10px;background:#959595;margin:5px 5px 5px 5px;display:block;border:1px solid #000;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;cursor:pointer;overflow:visible;}
.fwABBDconsol .ui-slider-range{height:8px;margin-top:1px;background:#000;}
.fwABBDconsol .ui-slider-handle{height:10px;width:10px;margin-left:-10px;position:absolute;background:#2a6770;top:-5px;display:block;border:5px solid #3d7881;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;outline:none;}

/*
.fwABBDconsol .cp{margin:0;height:36px;width:36px;position:relative;cursor:pointer;background:url(i/cp/select.png);}
.fwABBDconsol .cp div {position:absolute;top:4px;left:4px;width:28px;height:28px;background:url(i/cp/select.png) #000 -4px -4px;}
*/

a.legend{display:block;color:#000;margin:5px 0;}

.colorpicker{top:45px !important;}
.colorpicker,
.colorpicker div{margin:0;border:none;padding:0;}
.colorpicker,
.colorpicker_hex,
.colorpicker_rgb_r,
.colorpicker_rgb_g,
.colorpicker_hsb_h,
.colorpicker_hsb_s,
.colorpicker_rgb_b,
.colorpicker_hsb_b,
.colorpicker_submit,
.colorpicker_hue div{background-image:url(i/cp/main.png);background-repeat:no-repeat;}
.colorpicker {background-position:0 0;width:356px;height:176px;overflow:hidden;position:fixed;display:none;}
.colorpicker_color{width:150px;height:150px;left:14px;top:13px;position:absolute;background:#f00;overflow:hidden;cursor: crosshair;}
.colorpicker_color div{position:absolute;top:0;left:0;width:150px;height:150px;background:url(i/cp/colorpicker_overlay.png);}
.colorpicker_color div div{position: absolute;top: 0;left: 0;width:11px;height:11px;overflow:hidden;background: url(i/cp/colorpicker_select.gif);margin: -5px 0 0 -5px;}
.colorpicker_hue{position:absolute;top:13px;left:171px;width:35px;height:150px;cursor:n-resize;}
.colorpicker_hue div{position:absolute;width:35px;height:9px;overflow:hidden;background-position:-80px -246px;margin:-4px 0 0 0;left:0;}
.colorpicker_new_color{position:absolute;width:60px;height:30px;left:213px;top:13px;background:#f00;}
.colorpicker_current_color {position:absolute;width:60px;height:30px;left: 283px;top: 13px;background: #f00;}
.colorpicker input {background-color:transparent;border:1px solid transparent;position:absolute;font-size: 10px;font-family: Arial, Helvetica, sans-serif;color:#898989;top:4px;right:11px;text-align:right;margin:0;padding:0;height:11px;}
.colorpicker_hex{position:absolute;width:72px;height:22px;background-position:-2px -246px;left:212px;top:142px;}
.colorpicker_hex.colorpicker_focus{background-position:-2px -268px;}
.colorpicker_hex input{right:6px;}
.colorpicker_field{height:22px;width:62px;background-position:top;position:absolute;}
.colorpicker_field span{position:absolute;width:12px;height:22px;overflow:hidden;top:0;right:0;cursor:n-resize;}
.colorpicker_rgb_r{background-position:-12px -176px;top:52px;left:212px;}
.colorpicker_rgb_r.colorpicker_focus{background-position:-12px -198px;}
.colorpicker_rgb_r.colorpicker_slider{background-position:-12px -220px;}
.colorpicker_rgb_g{background-position:-267px -176px;top:82px;left:212px;}
.colorpicker_rgb_g.colorpicker_focus{background-position:-267px -198px;}
.colorpicker_rgb_g.colorpicker_slider{background-position:-267px -220px;}
.colorpicker_hsb_b,
.colorpicker_rgb_b{background-position:-76px -176px;top:112px;left:212px;}
.colorpicker_hsb_b.colorpicker_focus,
.colorpicker_rgb_b.colorpicker_focus{background-position:-76px -198px;}
.colorpicker_hsb_b.colorpicker_slider,
.colorpicker_rgb_b.colorpicker_slider{background-position:-76px -220px;}
.colorpicker_hsb_h{background-position:-140px -176px;top:52px;left:282px;}
.colorpicker_hsb_h.colorpicker_focus{background-position:-140px -198px;}
.colorpicker_hsb_h.colorpicker_slider{background-position:-140px -220px;}
.colorpicker_hsb_s{background-position:-204px -176px;top:82px;left:282px;}
.colorpicker_hsb_s.colorpicker_focus{background-position:-204px -198px;}
.colorpicker_hsb_s.colorpicker_slider{background-position:-204px -220px;}
.colorpicker_hsb_b{top:112px;left:282px;}
.colorpicker_submit{position:absolute;width:22px;height:22px;background-position:-204px -244px;left:322px;top:142px;overflow:hidden;}
.colorpicker_submit.colorpicker_focus{background-position:-204px -266px;cursor:pointer;}

/* Textarea */
.fwABBDcanvas .ABBDtxtarea{position:absolute;top:0;left:0;z-index:10;background:transparent;border:1px dotted #000;}




